<div class="container">
    <div class="row ">
        <div class="edu-head">
            <div class="col-md-6 col-xs-12 edu-head-left">
                <img class="edu-sd-b" src="images/edu-hl.jpg">
                <img class="edu-sd-a" src="images/sd.jpg">

            </div>
            <div class="col-md-6 col-xs-12">
                <a class="soochow" href="http://www.suda.edu.cn">
                    毕业于美丽的苏州大学
                </a>
                <p class="school-motto">养天地正气，法古今完人</p>
            </div>
        </div>
        <p class="edu-line" ng-class="{'line-transition':vm.toShowLine}"></p>
        <div class="edu-end">
            <div class="col-md-6 col-xs-12">
                <p class="explain-word">在苏大我的专业是纺织工程，听起来与Web前端毫不相关，
                    但其实就在苏大我接触到了计算机、互联网。我们学习过的
                    计算机相关的课程有计算机基础、计算机网络、VB、数据库等等。
                    因为兴趣，在大三时我开始自学前端知识。
                </p>

            </div>
            <div class="col-md-6 col-xs-12">
                <img class="edu-sd-c" src="images/xiaohui.jpg">
            </div>
        </div>
    </div>
</div>