<div class="container">
    <div class="row">
        <p class="job-title font-bold">工作经历</p>
        <div class="job-company">
            <span class="font-bold">北京草船云互联网技术中心</span>
            <span>2015.10-2016.12</span>
            <div>负责公司外包项目产品Web前端开发和部分移动页面开发。
                与产品、UI、后端工程师联系、配合。对项目前台或后台进行页面设计，实现页面与用户的交互。
                并对公司各产品易用性改进、界面技术优化和网站性能优化。
            </div>
        </div>
    </div>
    <div class="row">
        <p class="job-title font-bold">项目经验</p>
        <div class="epx-project">
            <p><a href="http://dev.graship.home.ptteng.cn" >草船云官网（三期）</a></p>
            <p><span class="font-bold">项目描述：</span>
                <span>草船云（三期）是草船云网站的第三个版本，前台增加登录注册，个人中心等功能。</span>
            </p>
            <div class="sce-box"><span class="font-bold">职责描述：</span>
            <p>1.使用HTML5+CSS3标准实现页面排版工作</p>
            <p>2.使用Bootstrap框架实现响应式布局和轮播图展示</p>
            <p>3.使用angularJS框架，用ui-router和ui-bootstrap完成网站搭建</p>
            <p>4.使用oclazyload实现延时加载，优化网站</p>
            <p>5.每天写晨报汇报项目进度进展，更新禅道、燃尽图</p>
            <p>6.协作测试人员进行测试和修改bug</p>

        </div>
        </div>

        <div class="epx-project">
            <p><a href="http://dev.carrots.web.ptteng.com">萝卜多招聘</a></p>
            <p><span class="font-bold">项目描述：</span>
                <span>萝卜多是为企业推荐人才，为人才推荐就业，为会员提供内推服务的招聘网站。</span>
            </p>
            <div class="sce-box"><span class="font-bold">职责描述：</span>
                <p>1.使用HTML5+CSS3标准实现页面排版工作</p>
                <p>2.使用Bootstrap框架实现响应式布局和轮播图展示 </p>
                <p>3.用css3导航栏完成简单动画效果</p>
                <p>4.使用angularJS框架，用ui-router和ui-bootstrap完成网站搭建</p>
                <p>5.根据后台提供的接口，利用$http请求数据，动态刷新界面</p>
                <p>6.协作测试人员进行测试和修改bug</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="epx-project">
            <p>中信飞单原型系统</p>
            <p><span class="font-bold">项目描述：</span>
                <span>该项目是为中信银行开发用于显示疑似飞单案例，包括管户统计、实体关系图谱、分析模型等功能。</span>
            </p>
            <div class="sce-box"><span class="font-bold">职责描述：</span>
                <p>1.根据设计要求完成页面布局</p>
                <p>2.使用angularJS完成项目搭建</p>
                <p>3.使用$http获取后台数据，实现增删改查等功能</p>
                <p>4.使用Ecahrts.js制作交易分析中所用折线图、柱图、矩形树图等</p>
                <p>5.使用Cytoscape.js完成实体关系图谱展示</p>
                <p>6.协作测试人员进行测试和修改bug</p>

            </div>
        </div>
        <div class="epx-project">
            <p>桌游精灵</p>
            <div><span class="font-bold">项目描述：</span>
                <span>负责桌游精灵中杀人游戏的开发。
                    主要使用技术：用rem实现页面自适应，使用angularJS完成功能，使用Cordova打包成APP。</span>
            </div>
            <div><span class="font-bold">职责描述：</span>
                <p>1.编写HTML5+CSS3标准的移动端自适应页面，使用rem、vh单位</p>
                <p>2.编写猜词游戏部分的业务逻辑</p>
                <p>3.使用Cordova将代码打包成APP</p>
                <p>4.协作测试人员进行测试和修改bug</p>
            </div>
        </div>

    </div>

</div>