<div class="container">
        <p class="font-bold skill-title">职业技能</p>
        <div class="skill-content">
            <p>1.熟练使用 HTML5+ CSS3 实现页面布局，熟悉响应式布局</p>
            <p>2.理解并掌握Javascript语言核心技术DOM、函数、事件等，熟悉Javascript面向对象技术</p>
            <p>3.熟练使用jQuery库进行开发</p>
            <p>4.熟悉使用 Ajax 技术与后台开发人员进行数据交互，使用 JSONP 解决跨域问题</p>
            <p>5.熟练使用 AngularJS 框架+UI-Router 开发SPA应用，理解 MVC 体系下的模块化开发</p>
            <p>6.熟悉 Bootstrap 框架及组件的运用，对响应式布局的设计和实现原理有较深理解</p>
            <p>7.熟悉使用 Echars3 进行数据可视化展示，了解D3.js</p>
            <p>8.熟悉 Sass、 Less预编译工具，能够熟练使用</p>
            <p>9.熟悉 Gulp、Webpack 的使用</p>
            <p>10.了解使用 Vue+Webpack 进行前端组件化开发</p>
            <p>11.熟练使用 SVN进行团队代码管理、合并，了解Git</p>
        </div>
    <d3-data></d3-data>
</div>